<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>爱礼科技</title>
    <meta name="description"
          content="礼者，邦国之仪，国民之气。爱礼科技躬耕于当代礼仪文化，利用大数据和互联网基础设施，研发具有时代气息的礼仪文化产品，提供专业、实际、轻松的礼仪教育资讯，满足用户高维度的人格需求，改善人们的生活质量，最终提升国民气质。仓廪足而知礼节，时代赋予我们追求生活态度和品味的可能。爱礼科技对这个世界始终报以最由衷的善意。">
    <meta name="keywords" content="爱礼科技,礼仪,文化,教育资讯,生活质量,国民气质,礼节,生活态度">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.scrollintoview.js"></script>
    <link href='http://api.youziku.com/webfont/CSS/57440d01f629d803f08f757d'
          rel='stylesheet' type='text/css'/>
    <link href='http://api.youziku.com/webfont/CSS/5744129ef629d803f08f758c'
          rel='stylesheet' type='text/css'/>
    <!--<link href='http://api.youziku.com/webfont/CSS/5707476ef629d80950838a89' rel='stylesheet' type='text/css' />-->
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">你正在使用 <strong>过时的</strong> 浏览器. 请<a
        href="http://browsehappy.com/">升级</a> 或者 <a
        href="http://www.google.com/chromeframe/?redirect=true">下载chrome浏览器</a> 来提升你的上网体验.
</p>
<![endif]-->

<div id="home">
    <nav class="header-wapper navbar-fixed-top">
        <div class="container-fluid">
        </div>
    </nav>
    <nav class="header navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <h1 class="logo"><a href="/index.html"></a></h1>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 nav-link">
                    <ul>
                        <li><a href="/index/contact.html" id="contact-link">联系</a></li>
                        <li><a href="/index/recruit.html" id="recruit-link">招贤</a></li>
                        <li><a href="/index/job.html" id="work-link">工作</a></li>
                        <li><a href="/index/intro.html" id="summary-link">简介</a></li>
                        <li><a href="/" id="home-link">首页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid top-container">
        <div id="introduction">
            <!--<div class="row">-->
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
                    <!--<span>礼者，邦国之仪，国民之气。社会在进步，时代在发展，为了追求更高质量的重量，礼仪势必受到更严肃的重视</span>-->
                    <!--<br>-->
                    <!--<span>互联网科技的发展将传统事业抛向了另一个高峰，顺势而为，我们开创了网络时代的礼仪教育</span>-->
                    <!--<br>-->
                <!--</div>-->
            <!--</div>-->
            <div class="to-top-button">
                <span><a href="#top">返回顶部</a></span>
            </div>
            <div class="row fix-padding-top-50 contact-content">
                <div class="col-lg-3 col-lg-offset-1">
                    <div>
                        <div>
                            <h4>需要你发挥才能的岗位</h4>
                        </div>
                        <ul class="nav_ul">
                            <li><a href="javascript:void(0);">文案编辑</a></li>
                            <li><a href="javascript:void(0);">运营编辑</a></li>
                            <li><a href="javascript:void(0);">策划编辑</a></li>
                            <li><a href="javascript:void(0);">助理编辑</a></li>
                            <li><a href="javascript:void(0);">礼仪培训师</a></li>
                            <li><a href="javascript:void(0);">资料管理员</a></li>
                            <li><a href="javascript:void(0);">市场专员</a></li>
                            <li><a href="javascript:void(0);">公共关系专员</a></li>
                            <li><a href="javascript:void(0);">市场助理</a></li>
                            <li><a href="javascript:void(0);">营销文案策划</a></li>
                            <li><a href="javascript:void(0);">行政人事专员兼前台</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div>
                        <!--<h4>需要你发挥才能的岗位</h4>-->
                        <div class="con-info">
                            <h5>文案编辑（运营部-内容组）</h5>
                            <ul>
                                <li>
                                    <span>岗位职责</span>
                                    <ul>
                                        <li>对当代礼仪概念有一定认知，能进行内容引入、产出；</li>
                                        <li>撰写内容优质且兼具阅读趣味性的文案；</li>
                                        <li>管理平台内容生产上线流程、优化包装文案、配图等，把控内容质量；</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>任职要求</span>
                                    <ul>
                                        <li>大专及以上学历，中文、新闻传播等相关专业；</li>
                                        <li>具备优秀的中文文字功底，有较好的写作能力；</li>
                                        <li>熟知内容为王型的互联网产品；</li>
                                        <li>良好的自我学习能力，擅长团队合作，善于沟通、协调；</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>优势项</span>
                                    <ul>
                                        <li>擅长创意型文案写作；</li>
                                        <li>具有互联网视野和新媒体从业经验；</li>
                                        <li>热爱文字工作；</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="con-info">
                            <h5>运营编辑（运营部-内容组）</h5>
                            <ul>
                                <li>
                                    <span>岗位职责</span>
                                    <ul>
                                        <li>负责公司相关内容的采编、策划运营、数据收集、定位分析等事项，及时进行有效调整；</li>
                                        <li>提出组稿计划和约稿意向，建立作者群和行业人脉网络；</li>
                                        <li>负责相关作者及专家队伍的沟通、交流和培养；</li>
                                        <li>收集并及时研究和处理作者、用户意见和反馈信息；</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>任职要求</span>
                                    <ul>
                                        <li>本科及以上学历，中文、工商管理、市场营销等相关专业；</li>
                                        <li>熟悉新媒体、教育行业，有相关从业经验及行业人脉优先；</li>
                                        <li>有独道的互联网产品视角，善于发现，擅长信息搜集与整合；</li>
                                        <li>性格沉稳，逻辑清晰，沟通表达能力强，具有一定的抗压能力及应变能力；</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>优势项</span>
                                    <ul>
                                        <li>创意型人才；</li>
                                        <li>熟悉互联网教育、培训行业，对相关网络生态和用户心理具有一定了解；</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="con-info">
                            <h5>策划编辑（运营部-内容组）</h5>
                            <ul>
                                <li>
                                    <span>岗位职责</span>
                                    <ul>
                                        <li>负责公司宣传推广文案及宣传资料文案的撰写；</li>
                                        <li>负责企划活动的创意策划、文案，给予前期提案、设计创意说明及后期结案报告等；</li>
                                        <li>协助整体的的品牌化运营和规范，制定各项活动的推广策划与执行；</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>任职要求</span>
                                    <ul>
                                        <li>新闻、中文、广告或相关专业专科及以上学历，2年以上相关策划工作经验；</li>
                                        <li>极具创意、思维敏捷，具备极强的文案功底，诉求精准到位，作品具创造力和感染力；</li>
                                        <li>能精准提炼产品和活动卖点，洞悉客户心理，能清晰表达自我创意，优秀的说明文字；</li>
                                        <li>了解教育类产品文案、软文、活动说明等多种写作形式，并熟练操作OFFICE等办公软件；
                                        </li>
                                        <li>
                                            对市场营销、广告策划和媒体策略有一定的了解工作经验者优先、有教育行业策划文案工作经验者优先；
                                        </li>
                                        <li>优秀的理解能力、学习能力和适应能力以及团队精神，能承受较大的工作压力；</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="con-info">
                            <h5>助理编辑（运营部-内容组）</h5>
                            <ul>
                                <li>
                                    <span>岗位职责</span>
                                    <ul>
                                        <li>配合文案编辑撰写平台文章，保证有一定的可读性，同时积累写作经验；</li>
                                        <li>发现与礼仪相关的话题，并积极参与讨论；</li>
                                        <li>参与平台其他内容建设，协同进行信息收集、稿件校对、整理等工作；</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>任职要求</span>
                                    <ul>
                                        <li>大专及以上学历，汉语言文学、新闻编辑等相关专业，在校或应届毕业生优先；</li>
                                        <li>对现代礼仪、新媒体、互联网产品有一定的了解；</li>
                                        <li>热爱写作，能够针对某事件展开话题写作；</li>
                                        <li>良好的自我学习能力，能有解决问题的思路和方法；</li>
                                        <li>具有团队协作精神和创新能力；</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="con-info">
                            <h5>礼仪培训师（运营部-培训组）</h5>
                            <ul>
                                <li>
                                    <span>岗位职责</span>
                                    <ul>
                                        <li>负责礼仪培训课程的开发、讲授；</li>
                                        <li>参与相关文案的设计并提升品质；</li>
                                        <li>
                                            独立完成培训教材的编写，策划并对相关课程的开发与课件制作，对参训人员有效的进行评估以及辅导与激励；
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span>任职要求</span>
                                    <ul>
                                        <li>有礼仪等相关培训机构工作经验三年及以上，有相关资格证优先；</li>
                                        <li>对礼仪文化有准确、独到的见解，乐于钻研技术，有授课经验者优先；</li>
                                        <li>富有活力和激情，开朗热情，良好的口头和书面的表达能力，善于沟通，熟悉培训流程；</li>
                                        <li>培训实战经验及案例丰富，讲课方法灵活多样，课堂气氛活跃，互动性好；</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="con-info">
                            <h5>资料管理员（运营部-市场推广组）</h5>
                            <ul>
                                <li>
                                    <span>岗位职责</span>
                                    <ul>
                                        <li>负责市场资料的归档工作，确保文件归档及时，资料分类清晰、准确；</li>
                                        <li>做好档案资料的整理、编目、标识、登记；</li>
                                        <li>对市场调研数据进行整理、统计、分类、筛选，确保易于识别和检索；</li>
                                        <li>对市场相关资料进行审查、判定，确保资料的真实和有效性；</li>
                                        <li>严格做好资料及档案的保密工作，严格按照规定做好资料的查、借、还；</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>任职要求</span>
                                    <ul>
                                        <li>大专及以上学历，专业不限，热爱互联网行业；</li>
                                        <li>熟练使用办公软件及自动化，尤其是PPT和Excel；</li>
                                        <li>工作有条理，谨慎细心，具有较强的时间管理能力；</li>
                                        <li>对数字敏感，逻辑能力强，思维敏捷，具备较强的学习能力；</li>
                                        <li>有强烈责任心和积极的工作态度、沟通能力强，有团队意识；</li>
                                        <li>接受优秀者毕业前全职实习；</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="con-info">
                            <h5>市场专员（运营部-市场推广组）</h5>
                            <ul>
                                <li>
                                    <span>岗位职责</span>
                                    <ul>
                                        <li>负责公司市场调研及分析；</li>
                                        <li>负责平台市场的业务拓展及洽谈工作；</li>
                                        <li>协助上级管理、协调市场、跟踪并监察各项营销计划的执行；</li>
                                        <li>通过各种渠道搜集平台行业达人及专家资料；</li>
                                        <li>协助上级管理做好项目活动、宣讲会、讲座及活动开展；</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>任职要求</span>
                                    <ul>
                                        <li>大专及以上学历，市场营销、工商管理等相关专业；</li>
                                        <li>有新媒体、互联网行业的相关工作经验优先；</li>
                                        <li>有较强的部门协调能力、沟通能力、控制能力、开拓能力与应变能力；</li>
                                        <li>强烈的主动沟通和服务意识，能在压力下承担工作，良好的团队合作意识；</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="con-info">
                            <h5>公共关系专员（运营部-市场推广组）</h5>
                            <ul>
                                <li>
                                    <span>岗位职责</span>
                                    <ul>
                                        <li>协助策划、实施有效的公关宣传活动及执行，协调各方面关系；</li>
                                        <li>做好公共关系维护，提升品牌形象；</li>
                                        <li>沟通和维护平台用户及达人资源库；</li>
                                        <li>与渠道及市场关系保持良好的沟通关系，拓展新的市场渠道；</li>
                                        <li>应对处理负面信息及情绪，进行危机公关；</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>任职要求</span>
                                    <ul>
                                        <li>大专及以上学历，市场营销、新闻等相关专业；</li>
                                        <li>有新媒体、互联网行业相关工作经验优先；</li>
                                        <li>良好的气质，较强学习能力和团队精神；</li>
                                        <li>性格开朗，优秀的人际交往、应变和协调能力，出色的口头表达能力；</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="con-info">
                            <h5>市场助理（运营部-市场推广组）</h5>
                            <ul>
                                <li>
                                    <span>岗位职责</span>
                                    <ul>
                                        <li>协助团队做好日常会议工作执行并反馈；</li>
                                        <li>协助进行部门日常工作和市场工作开展；</li>
                                        <li>协助搜集行业及市场相关信息，对调研结果进行市场分析，判断趋势；</li>
                                        <li>协助参与组织公司各种线下活动及品牌推广工作；</li>
                                        <li>能独立完成部分市场开发工作，和潜在客户、意向达人保持良好沟通及互动；</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>任职要求</span>
                                    <ul>
                                        <li>大专及以上学历，专业不限，热爱互联网行业；</li>
                                        <li>熟练使用办公软件及自动化，尤其是PPT和Excel；</li>
                                        <li>工作有条理，谨慎细心，具有较强的时间管理能力；</li>
                                        <li>有一定的文字功底，思维敏捷，具备较强的学习能力；</li>
                                        <li>有强烈责任心和积极的工作态度、沟通能力强，有团队意识；</li>
                                        <li>接受优秀者毕业前全职实习；</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="con-info">
                            <h5>营销文案策划（运营部-市场推广组）</h5>
                            <ul>
                                <li>
                                    <span>岗位职责</span>
                                    <ul>
                                        <li>负责企业宣传活动的方案撰写；</li>
                                        <li>负责公司市场营销活动对外宣传资料、各类文案及广告撰写；</li>
                                        <li>负责公司品牌宣传内容的撰写和更新；</li>
                                        <li>根据业务需要策划各种宣传内容，塑造良好企业形象；</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>任职要求</span>
                                    <ul>
                                        <li>新闻、中文、广告或相关专业专科及以上学历，2年以上相关策划工作经验；</li>
                                        <li>极具创意、思维敏捷，具备极强的文案功底，诉求精准到位，作品具创造力和感染力；</li>
                                        <li>能精准提炼产品和活动卖点，洞悉客户心理，能清晰表达自我创意，优秀的说明文字；</li>
                                        <li>了解教育类产品文案、软文、活动说明等多种写作形式，并熟练操作OFFICE等办公软件；
                                        </li>
                                        <li>
                                            对市场营销、广告策划和媒体策略有一定的了解工作经验者优先、有教育行业策划文案工作经验者优先；
                                        </li>
                                        <li>优秀的理解能力、学习能力和适应能力以及团队精神，能承受较大的工作压力；</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="con-info">
                            <h5>行政人事专员兼前台（行政人事部）</h5>
                            <ul>
                                <li>
                                    <span>岗位职责</span>
                                    <ul>
                                        <li>负责前台接待及日常行政事务；</li>
                                        <li>完成公司资产配置(包括办公设备、办公用品等)的采购、登记等管理；</li>
                                        <li>与物业衔接，日常行政费用缴纳等后勤保障工作；</li>
                                        <li>考勤管理、社保相关事宜的办理；</li>
                                        <li>员工活动的组织，协助HR处理基础人事；</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>任职要求</span>
                                    <ul>
                                        <li>大专及以上学历，行政、文秘相关专业优先，1年以上相关工作经验；</li>
                                        <li>有社保的实操经验，对基础人事有相关了解；</li>
                                        <li>能熟练操作日常办公软件，有一定的文字功底；</li>
                                        <li>执行力强，能吃苦耐劳，有良好的沟通表达能力及服务意识；</li>
                                        <li>形象气质佳，身高160cm以上，性格活泼开朗有亲和力，普通话标准；</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1"></div>
                <div class="col-lg-7 contact-content">
                    <div>
                        <h4>爱礼 你值得加入</h4>
                        <div class="con-info">
                            <p>我们希望你：</p>
                            <p>自认为有优秀的审美能力；</p>
                            <p>自认为有情怀，对世界充满善意，理解人性，对优秀的人性化产品有不可遏制的热情；</p>
                            <p>了解互联网产品的基本思路并好奇更有趣的玩儿法；</p>
                            <p>自认为有想法却不合群，有能力却无处施展；</p>
                            <p>多个“自认为”，体现了我们对伙伴个体能力的严肃尊重，希望将来的工作伙伴能发挥最大的自身价值。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1"></div>
                <div class="col-lg-7 contact-content">
                    <div>
                        <h4>我们对你的礼遇</h4>
                        <div class="con-info">
                            <p>有可比性的薪酬待遇</p>
                            <p>舒适优雅的办公环境</p>
                            <p>和谐有趣的同事</p>
                            <p>公平的岗位晋升</p>
                            <p>五险一金</p>
                            <p>专项奖金</p>
                            <p>带薪年假</p>
                            <p>年底双薪</p>
                            <p>年度旅游</p>
                            <p>开明的领导</p>
                            <p>Tips：如果我们的团队和项目吸引到你，请找准邮箱投简历！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container">-->
        <!--<div id="title">-->
            <!--<div class="row fix-padding-top-140">-->
                <!--<div class="col-lg-8 col-lg-offset-2">-->
                    <!--<h1><a>邦礼未殆 从心归来</a></h1>-->
                    <!--<img class="img-filter" src="/static/img/footer-logo.png"/>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <footer class="container-fluid" id="contact">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 foot-info">
                <span>Copyright © 2016 AILIKEJI</span>
                <br>
                <span>All Rights Reserved</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 foot-info">
                <span>E-mail</span>
                <br>
                <span>etitech@ailikeji.com</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 foot-info">
                <span>Tel</span>
                <br>
                <span>028-87033457</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 foot-info">
                <span>Official Weibo</span>
                <br>
                <span>Official Wechat</span>
            </div>
        </div>
    </footer>
    <div class="row"
         style="text-align: center; background-color: #434343; border-top: 1px solid #777676;">
        <span style="color: #D6D6D6; font-size: 12px; font-weight: 100;">蜀ICP备16013334号</span>
    </div>
</div>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>
<script>
    $('document').ready(function() {
        $('#work-link').click(function() {
            $('#work').scrollintoview({
                duration: "slow",
                direction: "y"
            });
        });
        $('#summary-link').click(function() {
            $('#summary').scrollintoview({
                duration: "slow",
                direction: "y"
            });
        });
        $('#recruit-link').click(function() {
            $('#recruit').scrollintoview({
                duration: "slow",
                direction: "y"
            });
        });
        $('#contact-link').click(function() {
            $('#contact').scrollintoview({
                duration: "slow",
                direction: "y"
            });
        });
    });
</script>
<!--<script type="text/javascript">-->
<!--$youziku.load("#id1", "431b410bf4634383b271eb03ec6e6523", "Source-Han-Light");-->
<!--$youziku.load(".class1", "431b410bf4634383b271eb03ec6e6523", "Source-Han-Light");-->
<!--$youziku.draw();-->
<!--</script>-->
</body>
</html>
