<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>爱礼科技</title>
    <meta name="description"
          content="礼者，邦国之仪，国民之气。爱礼科技躬耕于当代礼仪文化，利用大数据和互联网基础设施，研发具有时代气息的礼仪文化产品，提供专业、实际、轻松的礼仪教育资讯，满足用户高维度的人格需求，改善人们的生活质量，最终提升国民气质。仓廪足而知礼节，时代赋予我们追求生活态度和品味的可能。爱礼科技对这个世界始终报以最由衷的善意。">
    <meta name="keywords" content="爱礼科技,礼仪,文化,教育资讯,生活质量,国民气质,礼节,生活态度">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.scrollintoview.js"></script>
    <link href='http://api.youziku.com/webfont/CSS/57074b3cf629d80950838a90'
          rel='stylesheet' type='text/css'/>
    <!--<link href='http://api.youziku.com/webfont/CSS/5707463df629d80950838a83' rel='stylesheet' type='text/css' />-->
    <link href='http://api.youziku.com/webfont/CSS/57074400f629d80950838a7f'
          rel='stylesheet' type='text/css'/>
    <!--<link href='http://api.youziku.com/webfont/CSS/5707476ef629d80950838a89' rel='stylesheet' type='text/css' />-->
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">你正在使用 <strong>过时的</strong> 浏览器. 请<a
        href="http://browsehappy.com/">升级</a> 或者 <a
        href="http://www.google.com/chromeframe/?redirect=true">下载chrome浏览器</a> 来提升你的上网体验.
</p>
<![endif]-->

<div id="home">
    <nav class="header-wapper navbar-fixed-top">
        <div class="container-fluid">
        </div>
    </nav>
    <nav class="header navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <h1 class="logo"><a href="/index.html"></a></h1>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 nav-link">
                    <ul>
                        <li><a href="/index/contact.html" id="contact-link">联系</a></li>
                        <li><a href="javascript:void(0)" id="recruit-link">招贤</a></li>
                        <li><a href="javascript:void(0)" id="work-link">工作</a></li>
                        <li><a href="/index/intro.html" id="summary-link">简介</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid top-container">
        <div id="introduction">
            <div class="row">
                <!--<div class="col-lg-12">-->
                <!--<a href="http://fanmeiedu.com/" target="_blank">-->
                <!--<img class="img-filter img-responsive"-->
                <!--src="/static/img/navbar.jpg"/>-->
                <!--</a>-->
                <!--<div class="img-alt">-->
                <!--<h4 class="fis-alt">「泛美集团」</h4>-->
                <!--<span class="sec-alt">传承善与美德 传递爱与快乐</span>-->
                <!--</div>-->
                <!--</div>-->
                <div class="col-lg-12">
                    <a href="http://fanmeiedu.com/" target="_blank">
                        <div class="nav-bar-img">
                            <img class="img-responsive"
                                 src="/static/img/navbar.jpg"/>
                        </div>
                    </a>
                    <div class="img-alt">
                        <h1 class="fis-alt">「泛美集团」</h1>
                        <span class="sec-alt">传承善与美德 传递爱与快乐</span>
                    </div>
                </div>
            </div>
            <div class="row row-padding">
                <div class="col-lg-12 text-center">
                    <h2>「初识爱礼」</h2>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <hr>
                    <p class="text">四川爱礼科技有限公司（简称：爱礼科技）</p>
                    <p class="text">成立于2015年11月，是全国知名民航职教集团——四川泛美教育投资集团下属公司</p>
                    <p class="text">注册资金1000万，位于成都市高新技术产业开发区，紧邻成都天府软件园。</p>
                    <p class="text">
                        四川爱礼科技有限公司集互联网平台构建和软件开发为一体，专业从事PC端、移动互联网端的应用产品研发与服务，定位于打造互联网时代礼仪文化教育领域的头筹性高科技平台。</p>
                    <hr>
                </div>
            </div>
            <div class="row row-padding">
                <div class="col-lg-6">
                    <div class="col-lg-11 col-lg-offset-1">
                        <img class="img-filter img-responsive"
                             src="/static/img/HNCK8458.jpg"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-11 col-lg-offset-1 section-content">
                        <h2 class="text-center">「洞悉科技」</h2>
                        <hr>
                        <p class="text">
                            爱礼科技是国内首个勇于培育互联网礼仪文化教育生态的拓荒者。消费升级和教育转型的时代背景下，爱礼科技认准“互联网+”的商业风口，洞悉“O2O”商业模式，利用大数据和互联网基础设施来提供高维度的人性所需的教育产品，帮助主体人群享受更好的生活质量和社交环境。
                        </p>
                        <p class="text">
                            尤其，爱礼科技也是目前国内鲜见的将VR（虚拟现实）技术用于教育领域的互联网科技公司——通过研发和利用VR技术为互联网教育及其产品体验提供切实可行的高品质解决方案。</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row row-padding">
                <div class="col-lg-6">
                    <div class="col-lg-11 col-lg-offset-1 section-content">
                        <h2 class="text-center">「立足VR」</h2>
                        <hr>
                        <p class="text">
                            VR技术在教育培训领域大有用武之地，但无论国内外，都需要时间来开发以投入商用。
                        </p>
                        <p class="text">
                            爱礼科技不惜重金，以前瞻性视角积极投身相关技术研发中。教育改变世界，把最前沿科技引流到教育领域是爱礼科技的责任担当，也是市场环境的大势所趋。
                        </p>
                        <p class="text">
                            为此，公司配备了一流的研发团队和技术实力，拥有一批从美国、法国、日本、澳大利亚等海外归来的技术和管理精英，以及从微软、腾讯等世界知名软件公司加盟而来的高级研发人员。同时，与川内高校人工智能实验室深度合作，以推动技术专利开发等科研工作。
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-11 col-lg-offset-1">
                        <img class="img-filter img-responsive"
                             src="/static/img/vr.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="title">
            <div class="row fix-padding-top-140">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1><a>邦礼未殆 从心归来</a></h1>
                    <img class="img-filter" src="/static/img/footer-logo.png"/>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid" id="contact">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 foot-info">
                <span>Copyright © 2016 AILIKEJI</span>
                <br>
                <span>All Rights Reserved</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 foot-info">
                <span>E-mail</span>
                <br>
                <span>etitech@ailikeji.com</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 foot-info">
                <span>Tel</span>
                <br>
                <span>028-87033457</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 foot-info">
                <span>Official Weibo</span>
                <br>
                <span>Official Wechat</span>
            </div>
        </div>
    </footer>
    <div class="row"
         style="text-align: center; background-color: #434343; border-top: 1px solid #777676;">
        <span style="color: #D6D6D6; font-size: 12px; font-weight: 100;">蜀ICP备16013334号</span>
    </div>
</div>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>
<!--<script type="text/javascript">-->
<!--$youziku.load("#id1", "431b410bf4634383b271eb03ec6e6523", "Source-Han-Light");-->
<!--$youziku.load(".class1", "431b410bf4634383b271eb03ec6e6523", "Source-Han-Light");-->
<!--$youziku.draw();-->
<!--</script>-->
</body>
</html>
