<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>爱礼科技</title>
    <meta name="description"
          content="礼者，邦国之仪，国民之气。爱礼科技躬耕于当代礼仪文化，利用大数据和互联网基础设施，研发具有时代气息的礼仪文化产品，提供专业、实际、轻松的礼仪教育资讯，满足用户高维度的人格需求，改善人们的生活质量，最终提升国民气质。仓廪足而知礼节，时代赋予我们追求生活态度和品味的可能。爱礼科技对这个世界始终报以最由衷的善意。">
    <meta name="keywords" content="爱礼科技,礼仪,文化,教育资讯,生活质量,国民气质,礼节,生活态度">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.scrollintoview.js"></script>
    <link href='http://api.youziku.com/webfont/CSS/57440d01f629d803f08f757d' rel='stylesheet' type='text/css' />
    <link href='http://api.youziku.com/webfont/CSS/5744129ef629d803f08f758c' rel='stylesheet' type='text/css' />
    <!--<link href='http://api.youziku.com/webfont/CSS/5707476ef629d80950838a89' rel='stylesheet' type='text/css' />-->
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">你正在使用 <strong>过时的</strong> 浏览器. 请<a
        href="http://browsehappy.com/">升级</a> 或者 <a
        href="http://www.google.com/chromeframe/?redirect=true">下载chrome浏览器</a> 来提升你的上网体验.
</p>
<![endif]-->

<div id="home">
    <nav class="header-wapper navbar-fixed-top">
        <div class="container-fluid">
        </div>
    </nav>
    <nav class="header navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <h1 class="logo"><a href="/index.html"></a></h1>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 nav-link">
                    <ul>
                        <li><a href="/index/contact.html" id="contact-link">联系</a></li>
                        <li><a href="/index/recruit.html" id="recruit-link">招贤</a></li>
                        <li><a href="/index/job.html" id="work-link">工作</a></li>
                        <li><a href="/index/intro.html" id="summary-link">简介</a></li>
                        <li><a href="/" id="home-link">首页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid top-container">
        <div id="introduction">
            <!--<div class="row">-->
                <!--<div class="col-lg-6 col-lg-offset-2 contact-content">-->
                    <!--<h3>工作</h3>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-lg-6 col-lg-offset-2 contact-content">
                    <div>
                        <h4>工作方向: </h4>
                        <span>爱礼科技躬耕于当代礼仪文化理念引导，国民礼仪素质养成。“学礼以立”因时而动，新的时代，新的内涵。富者有礼高贵，贫者有礼免辱。对“礼”的认知当以个体的人为切入口，润物无声，由微末而及万象。爱礼科技的工作目标和企业价值均以“礼”为核心。</span>
                        <!--<dl class="dl-horizontal desp-control">-->
                        <!--<dt>邮箱：</dt>-->
                        <!--<dd></dd>-->
                        <!--</dl>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-5 fix-padding-top-50">
                    <img class="img-filter img-responsive" src="/static/img/job.png"/>
                </div>
            </div>
            <div class="row fix-padding-top-50">
                <div class="col-lg-6 col-lg-offset-2 contact-content">
                    <div>
                        <h4>online: </h4>
                        <span>线上产品是爱礼科技核心业务。</span>
                        <br>
                        <span>爱礼科技着力打造中国首个符合时代品味的礼仪文化分享平台。相关产品将于2017年初正式发布。</span>
                        <!--<dl class="dl-horizontal desp-control">-->
                        <!--<dt>邮箱：</dt>-->
                        <!--<dd>wangbingxue@ailikeji.com</dd>-->
                        <!--<dt>邮箱 2</dt>-->
                        <!--<dd>wangfan@ailikeji.com</dd>-->
                        <!--<dt>邮箱 3</dt>-->
                        <!--<dd>zengxiaoyu@ailikeji.com</dd>-->
                        <!--<dt>邮箱 4</dt>-->
                        <!--<dd>haoyaqin@ailikeji.com</dd>-->
                        <!--<dt>邮箱 5</dt>-->
                        <!--<dd>zhouwenqin@ailikeji.com</dd>-->
                        <!--<dt>邮箱 6</dt>-->
                        <!--<dd>ganhongxing@ailikeji.com</dd>-->
                        <!--</dl>-->
                    </div>
                </div>
            </div>
            <div class="row fix-padding-top-50">
                <div class="col-lg-6 col-lg-offset-2 contact-content">
                    <div>
                        <h4>offline: </h4>
                        <span>线下商业服务是爱礼科技的前瞻性业务。</span>
                        <br>
                        <span>爱礼科技以专业的服务意识、区别于传统的服务理念、近乎苛求的服务细节，来提供针对企业和个人的礼仪培训计划。</span>
                        <!--<dl class="dl-horizontal desp-control">-->
                            <!--<dt>邮箱：</dt>-->
                            <!--<dd></dd>-->
                        <!--</dl>-->
                    </div>
                </div>
            </div>
            <div class="row fix-padding-top-50">
                <div class="col-lg-6 col-lg-offset-2 contact-content">
                    <h3>我们热爱这个世界，我们热爱我们的工作</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="title">
            <div class="row fix-padding-top-140">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1><a>邦礼未殆 从心归来</a></h1>
                    <img class="img-filter" src="/static/img/footer-logo.png"/>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid" id="contact">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 foot-info">
                <span>Copyright © 2016 AILIKEJI</span>
                <br>
                <span>All Rights Reserved</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 foot-info">
                <span>邮箱</span>
                <br>
                <span>etitech@ailikeji.com</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 foot-info">
                <span>Tel</span>
                <br>
                <span>028-87033457</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 foot-info">
                <span>Official Weibo</span>
                <br>
                <span>Official Wechat</span>
            </div>
        </div>
    </footer>
    <div class="row"
         style="text-align: center; background-color: #434343; border-top: 1px solid #777676;">
        <span style="color: #D6D6D6; font-size: 12px; font-weight: 100;">蜀ICP备16013334号</span>
    </div>
</div>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>
<script>
    //    $('document').ready(function() {
    //        $('#work-link').click(function() {
    //            $('#work').scrollintoview({
    //                duration: "slow",
    //                direction: "y"
    //            });
    //        });
    //        $('#summary-link').click(function() {
    //            $('#summary').scrollintoview({
    //                duration: "slow",
    //                direction: "y"
    //            });
    //        });
    //        $('#recruit-link').click(function() {
    //            $('#recruit').scrollintoview({
    //                duration: "slow",
    //                direction: "y"
    //            });
    //        });
    //        $('#contact-link').click(function() {
    //            $('#contact').scrollintoview({
    //                duration: "slow",
    //                direction: "y"
    //            });
    //        });
    //    });
</script>
<!--<script type="text/javascript">-->
<!--$youziku.load("#id1", "431b410bf4634383b271eb03ec6e6523", "Source-Han-Light");-->
<!--$youziku.load(".class1", "431b410bf4634383b271eb03ec6e6523", "Source-Han-Light");-->
<!--$youziku.draw();-->
<!--</script>-->
</body>
</html>
